<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cyto.iridium.mselamat">
    <!-- check network permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- check wifi state -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- check internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/vitalex_app_logo_my"
        android:label="@string/app_name"
        android:roundIcon="@drawable/vitalex_app_logo_my"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        <activity android:name=".NewsPageActivity"></activity>
        <activity
            android:name=".LaunchScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar.FullScreen"></activity>
        <activity
            android:name=".GoogleLoginAuth"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"></activity>
    </application>

</manifest>